body {
    color: var(--font-color);
    box-sizing: border-box;
}

main {
    display: block;
}

.buttons {
    margin-top: 2em;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.8em 0;
}
 form div label {
     width: 15%;
 }

 form div label+* {
     width: 85%;
 }

 form textarea {
     width: 100%;
 }

 form button {
     width: 25%;
 }
